/Logs
/Temp
/.vsconfig
/Assembly-CSharp.csproj
/Assembly-CSharp.Player.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-firstpass.Player.csproj
/MyopiaProject.sln
/pxr_streamer_16880.log
/Unity.CollabProxy.Editor.csproj
/Unity.InputSystem.csproj
/Unity.InputSystem.Player.csproj
/Unity.PlasticSCM.Editor.csproj
/Unity.Rider.Editor.csproj
/Unity.Services.Core.Editor.csproj
/Unity.Subsystem.Registration.csproj
/Unity.Subsystem.Registration.Player.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.TextMeshPro.Player.csproj
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.Timeline.Player.csproj
/Unity.VisualStudio.Editor.csproj
/Unity.VSCode.Editor.csproj
/Unity.XR.CoreUtils.csproj
/Unity.XR.CoreUtils.Editor.csproj
/Unity.XR.CoreUtils.Player.csproj
/Unity.XR.Interaction.Toolkit.csproj
/Unity.XR.Interaction.Toolkit.Editor.csproj
/Unity.XR.Interaction.Toolkit.Player.csproj
/Unity.XR.Management.csproj
/Unity.XR.Management.Editor.csproj
/Unity.XR.Management.Player.csproj
/Unity.XR.PicoXR.csproj
/Unity.XR.PicoXR.Editor.csproj
/Unity.XR.PicoXR.Player.csproj
/UnityEditor.SpatialTracking.csproj
/UnityEditor.TestRunner.csproj
/UnityEditor.UI.csproj
/UnityEditor.XR.LegacyInputHelpers.csproj
/UnityEngine.SpatialTracking.csproj
/UnityEngine.SpatialTracking.Player.csproj
/UnityEngine.TestRunner.csproj
/UnityEngine.TestRunner.Player.csproj
/UnityEngine.UI.csproj
/UnityEngine.UI.Player.csproj
/UnityEngine.XR.LegacyInputHelpers.csproj
/UnityEngine.XR.LegacyInputHelpers.Player.csproj
/Library
/.vs/MyopiaProject/FileContentIndex/0c2184f6-bb4b-4cc2-a96c-06d450420b34.vsidx
/.vs/MyopiaProject/FileContentIndex/1530a4a3-9408-4dc1-9e22-271cdd181551.vsidx
/.vs/MyopiaProject/FileContentIndex/c00af45a-4540-46d5-8883-eefe770cdbcb.vsidx
/.vs/MyopiaProject/FileContentIndex/dbf52647-f567-4871-921e-501756c54b4b.vsidx
/.vs/MyopiaProject/FileContentIndex/ee07ac71-3f0c-4dc7-89ab-57cc2fcb51c2.vsidx
/.vs/MyopiaProject/v17/.suo
/.vs/MyopiaProject/v17/fileList.bin
/obj/Debug/*.cache
/*.log
